* {
  outline: 2px solid red;
  width: 50%;;
  margin: auto;
  margin-top: 4rem;
  box-sizing: border-box;
}

button {
  width: 8rem;
  background-color: #f0f;
}

.One {
  background-color: #f00;
  padding: 20px;
  border: 20px solid #0ff;
  margin: 20px;
  height: 100px;
  width: 100px;
}

.Two {
  background-color: #00f;
  padding: 20px;
  border: 20px solid #0ff;
  margin: 40px;
  height: 100px;
  width: 100px;
}