*, 
*::before, 
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.flex-container div {
  background-color: peachpuff;
  width: 400px;
  height: 200px;
  border: 4px solid brown;
}

.flex-container-one {
  border: 4px solid #00f;
  padding: 12px;
  display: flex;
  gap: 12px;
  background-color: turquoise;
  margin-top: 12px;
}

.flex-container-one div {
  height: 100px; 
  width: 400px;
  background-color: wheat;
  border: 4px dashed #f0f;
}

.flex-container-two {
  height: 80px;
  background-color: #0000ff44;
  border: 4px solid #0000ffFF;
  margin-top: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.flex-container-two div {
  height: 60px;
  width: 200px;
  background-color: wheat;
  border: 4px solid #aba;
}

.flex-container-two .two {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 4px
}

.flex-container-two .two-one {
  background-color: #ff000033;
  height: 40px;
  width: 60px;
}

.flex-container-two .two-two {
  background-color: #ff000033;
  height: 40px;
  width: 60px;
}

.flex-container-three {
  height: auto;
  padding: 12px;
  border: 4px solid turquoise;
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.flex-container-three div{
  height: 100px;
  background-color: #ff000044;
  width: 48%;
  border: 4px solid chocolate;
}

.right {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.right div {
  background-color: #f0f;
  height: 46px;
  width: 180px;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  border: 1px solid #fff;
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe, 
.social {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* grid */
  flex-direction: row;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.first-item {
  order: 0;
}

.last-item {
  order: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-item:nth-child(2) {
  flex: 1;
}

.footer-one, 
.footer-three {
  background-color: #5995DA;
  width: 300px;
  flex: initial;
}
